# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kmol\yt_code_share\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
